@import 'tailwindcss';

@font-face {
    font-family: 'daubuoi';
    src: url('@/assets/fonts/daubuoi.woff2') format('woff2');
    font-display: swap;
}

@layer base {
    :root {
        @apply h-full;
        -webkit-tap-highlight-color: transparent;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        scroll-behavior: smooth;
        zoom: 1;
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
        -ms-zoom: 1;
    }

    @media (prefers-color-scheme: dark) {
        :root {
            color-scheme: light;
        }
    }

    @media (prefers-color-scheme: light) {
        :root {
            color-scheme: light;
        }
    }

    * {
        @apply m-0 box-border appearance-none p-0 will-change-auto focus:outline-none;
        font-family: daubuoi, system-ui;
        ::-webkit-scrollbar {
            width: 2px;
        }
        ::-webkit-scrollbar-track {
            background: #f1f1f1;
        }
        ::-webkit-scrollbar-thumb {
            background: #888;
        }

        ::-webkit-scrollbar-thumb:hover {
            background: #555;
        }
    }

    body {
        @apply min-h-full;
    }

    button,
    label,
    summary,
    [role='button'] {
        @apply cursor-pointer touch-none select-none;
    }

    input[type='checkbox'],
    input[type='radio'] {
        @apply appearance-auto;
    }

    html {
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
        -moz-text-size-adjust: 100%;
        text-size-adjust: 100%;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        @apply appearance-none;
    }

    input[type='number'] {
        @apply appearance-none;
        appearance: textfield;
        -moz-appearance: textfield;
    }

    img,
    video,
    canvas,
    svg {
        @apply block h-auto max-w-full;
    }

    img {
        @apply pointer-events-none will-change-auto select-none;
    }

    [data-loading] {
        @apply will-change-transform;
    }

    a {
        @apply text-inherit no-underline;
    }

    textarea {
        @apply resize-none;
    }
}
